* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Laila', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 0;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5efef;
  padding-bottom: 2rem;
}

#title {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 8rem;
  color: #c75054;
}

.title__container {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sub-title {
  font-family: 'Laila', sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

#tribute-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;

}

.tribute-info-box {
  border-radius: 15px;
  background-color: #f2f4ef;
  margin: 0 3rem;
  box-shadow:
    0 0 0 0 rgb(255, 255, 255),
    0em 0.3em 1em rgba(0, 0, 0, 0.3);
}

li {
  padding-bottom: 1.5rem;
  border-left: 1px dashed #5c413d;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

li:last-child {
  border: 0px;
  padding-bottom: 0;
}

li:before {
  position: absolute;
  left: -11px;
  top: 0;
  content: " ";
  border-radius: 500%;
  background: #f4afa6;
  height: 20px;
  width: 20px;
}


#image {
  width: 100vw;
  height: 60vh;
  margin: 0 auto;
  object-fit: cover;
  object-position: 50% 25%;
}

#img-div {
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

ul {
  text-align: start;
}

.message__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10% 1rem;
}

.resumen {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.message {
  font-family: "Allura", cursive;
  font-size: 4rem;
}

#tribute-link {
  width: 10rem;
  height: 3rem;
  color: white;
  background: #d85c56;
  border-radius: 10px;
  margin: 1rem 0.5rem 0.5rem;
}

#tribute-link:hover {
  background: none;
  color: black;
  border: 1px solid #d85c56;
}

.nav__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.general__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .timeline{
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  #image {
    width: 100vw;
    height: 40vh;
  }

  #title{
    font-size: 5.5rem;
  }

  #sub-title{
    font-size: 1rem;
  }

  .title__container{
    height: 20vh;
  }

  .message{
    font-size: 2.5rem;
  }

  .resumen{
    font-size: 1.2rem;
  }

  li{
    font-size: 1.1rem;
  }

  #tribute-link {
    width: 8rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  .message__container{
    margin-bottom: 0;
  }
  .title__container{
    height: auto;
    padding: 1rem 0;
  }

  #title{
    font-size: 3.5rem;
  }

  #sub-title{
    font-size: 0.8rem;
  }

  .message{
    font-size: 2rem;
  }

  .resumen{
    font-size: 1rem;
  }

  li{
    font-size: 1rem;
  }

}
